<a href="https://colab.research.google.com/github/neerajthandayan/Misc./blob/main/Karmalife_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing Libraries

#!pip install pymongo[srv]
import pandas as pd
import numpy as np
import pymongo
from pymongo import MongoClient
import dateutil
import pprint

In [3]:
# Creating Client Object

client = MongoClient('mongodb+srv://assignment:wlF8axz8N4ZvqH6B@assignment.h251h.mongodb.net/')

In [3]:
# Listing Db names

for db in client.list_databases():
  print(db)

{'name': 'sample_mflix', 'sizeOnDisk': 43499520.0, 'empty': False}
{'name': 'sample_restaurants', 'sizeOnDisk': 6512640.0, 'empty': False}
{'name': 'sample_training', 'sizeOnDisk': 51613696.0, 'empty': False}
{'name': 'test', 'sizeOnDisk': 73728.0, 'empty': False}
{'name': 'admin', 'sizeOnDisk': 372736.0, 'empty': False}
{'name': 'local', 'sizeOnDisk': 12869079040.0, 'empty': False}

In [4]:
# Creating Db object & fetching collection names

data = client.sample_mflix
data.list_collection_names()

['movies', 'sessions', 'users', 'theaters', 'comments']

In [5]:
# Creating Movies and Comments DatFrames

movies = pd.DataFrame(list(data.movies.find()))
comments = pd.DataFrame(list(data.comments.find()))

### Task 1

In [6]:
# Fecthcing Movie IDs with Comments
com_true = comments.movie_id.unique()

# Craeying DataFrames for Movies with Comments and Movies without Comments
mwc = []
mwoc = []
for i in range(len(movies)):
  if movies['_id'][i] in com_true:
    mwc.append(i)
  else:
    mwoc.append(i)

movies_with_comments = movies.loc[movies.index[[mwc]], :].reset_index(drop=True)
movies_with_no_comments = movies.loc[movies.index[[mwoc]], :].reset_index(drop=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4114: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = getitem(key)

In [7]:
# Creating folder Movies

!mkdir /content/movies

In [8]:
# Saving .csv file

movies_with_no_comments.to_csv('/content/movies/movies_with_no_comments.csv')

### Task 2

In [9]:
# Adding columns movies_with_comments DataFrame

lr = []
hr = []

for rt in range(len(movies_with_comments)):
  if movies_with_comments['runtime'][rt] > 50:
    lr.append('yes')
    hr.append('no')
  else:
    lr.append(np.nan)
    hr.append(np.nan)

movies_with_comments['low_runtime'] = lr
movies_with_comments['high_runtime'] = hr

In [10]:
# Creating File 

movies_with_comments.to_csv('/content/movies/movies_with_comments.csv')

### Task 3

In [11]:
# Creating movies_rating_8_released_aft_2000.csv file

pd.DataFrame(list(data.movies.find({"imdb.rating": {"$gt": 8},
                                    "released":  {"$gte": dateutil.parser.parse('2000-01-01T00:00:00.000+00:00')},
                                    "awards.wins": {"$gt": 3}}).sort("released",pymongo.ASCENDING))).to_csv('/content/movies/movies_rating_8_released_aft_2000.csv')

### Task 4

In [12]:
pprint.pprint(data.theaters.find()[0]['location']['geo']['coordinates'][0])

-111.89966

In [13]:
ti = []
s1 = []
ct = []
s2 = []
lat = []
lon = []


for doc in data.theaters.find():
  try:
    ti.append(doc['theaterId'])
  except:
    ti.append(np.nan)
  
  try:
    s1.append(doc['location']['address']['street1'])
  except:
    s1.append(np.nan)

  try:
    ct.append(doc['location']['address']['city'])
  except:
    ct.append(np.nan)

  try:
    s2.append(doc['location']['address']['street2'])
  except:
    s2.append(np.nan)

  try:
    lat.append(doc['location']['geo']['coordinates'][0])
  except:
    lat.append(np.nan)

  try:
    lon.append(doc['location']['geo']['coordinates'][1])
  except:
    lon.append(np.nan)

In [14]:
# Creating DataFrame

theatre_dict = {"theaterId":ti , "street1": s1 , "city": ct, "street2": s2, "0": lat , "1": lon}
theatre_simplified = pd.DataFrame(theatre_dict)
theatre_simplified.head()

   theaterId                    street1  ...           0          1
0       1002     1900 E Rio Salado Pkwy  ... -111.899660  33.430729
1       1022  609 Potomac Station Dr NE  ...  -77.532104  39.098255
2       1014         155 Los Altos Pkwy  ... -119.741200  39.579536
3       1056     1628 S Signal Butte Rd  ... -111.601390  33.384254
4       1012         1207 W Century Ave  ... -100.812130  46.829876

[5 rows x 6 columns]

In [15]:
# Creating and Saving File

theatre_simplified.to_csv('/content/movies/theatre_simplified.csv')

### Task 5

In [16]:
# Fetching Lat and Long Data

import http.client, urllib.parse
import json

conn = http.client.HTTPConnection('api.positionstack.com')

latitude = []
longitude = []

for city in theatre_simplified['city']:
  params = urllib.parse.urlencode({
    'access_key': '33b0c15309bc998f9104b6a94f7402f7',
    'query': f'{city}',
    'country': 'US',
    'limit': 1,
    })

  conn.request('GET', '/v1/forward?{}'.format(params))
  res = conn.getresponse()
  data = res.read()
  try:
    latitude.append(json.loads(data)['data'][0]['latitude'])
  except:
    latitude.append(np.nan)
  try:
    longitude.append(json.loads(data)['data'][0]['longitude'])
  except:
    longitude.append(np.nan)

In [17]:
theatre_simplified['lat'] = latitude
theatre_simplified['long'] = longitude

In [18]:
# Creating and Saving theatre_simplified_with_lat_long.csv file

theatre_simplified.drop(columns=["1","0"]).to_csv('/content/movies/theatre_simplified_with_lat_long.csv')

### Task 6

In [5]:
# Picking entries with Country value available and not equal USA

released_outside_usa = pd.DataFrame(list(data.movies.find({"countries" : {"$exists": True, "$ne": "USA"}})))
released_outside_usa.head()

                        _id  ... metacritic
0  573a1391f29313caabcd9458  ...        NaN
1  573a1391f29313caabcd9651  ...        NaN
2  573a1392f29313caabcd99a3  ...        NaN
3  573a1391f29313caabcd9721  ...        NaN
4  573a1391f29313caabcd7e30  ...        NaN

[5 rows x 22 columns]

In [6]:
# Creating and Saving released_outside_usa.csv file

released_outside_usa.to_csv('/content/movies/released_outside_usa.csv')

In [9]:
#!pip install yagmail
import yagmail

receiver = "devopsalerts@karmalife.ai"
body = "Please find attachment - released_outside_usa.csv"
filename = "/content/movies/released_outside_usa.csv"

yag = yagmail.SMTP("neeraj.mailfortesting@gmail.com", "********")
yag.send(
    to=receiver,
    subject="Released Outside USA",
    contents=body, 
    attachments=filename,
)

{}